/* Full Page Background */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #8e2de2, #ff0080);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main Container */
.form-container {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

/* Tabs */
.tab-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab-buttons button {
  width: 50%;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: #eee;
  transition: 0.3s;
}

.tab-buttons .active {
  background: linear-gradient(to right, #8e2de2, #ff0080);
  color: white;
  font-weight: bold;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.forgot {
  color: #ff0080;
  font-size: 12px;
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Main button */
.main-btn {
  width: 100%;
  padding: 12px;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  background: linear-gradient(to right, #8e2de2, #ff0080);
  cursor: pointer;
  margin-top: 10px;
}

.link {
  margin-top: 15px;
  font-size: 14px;
}

.link span {
  color: #ff0080;
  cursor: pointer;
  font-weight: bold;
}
